
@{
    Layout = null;
}
@RenderSection("body")
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
</head>
<body>
    <div> 
        <span>Dare Academy</span>
        <span style="padding-left:1000px"></span>
    </div>
</body>
</html>
